stylesheet.css
* {
    box-sizing: border-box;
}

header {
    height: 75px;
    width: 100%;
    background-color: rgb(247, 247, 107);
    position :fixed;
    top: 0;
    z-index: 10;
    font-family: cursive;
}

.header-left {
    float: left;
    font-family: cursive;
    font-size: 60px;
}
  
.header-right {
    float: right;
    margin-right: 20px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(8, 8, 8);
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(247, 247, 107, 0.3);
}
  
.header-logo {
    padding: 10px;
    margin: 10px;
    color: yellow;
}

.fa {
    margin-right: 5px;
}

.fa {
    margin-right: 5px;
}
 
.logo {
    width: 250px;
    margin-top: 20px;
}

p {
    color: tomato;
    font-size: 25px;
    font-weight: bolder;
    font-family: cursive;
}

#banner {
    animation: mymove 15s infinite;
    background-color: rgb (247, 247, 107);
    width: 100%;
    border: 1px solid transparent;
}

@keyframes mymove {
    50% { text-indent: 77%; }
}

main {
    background-color: rgb (247, 247, 107);
}

.main h1 {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    background-color: rgb (247, 247, 107);
    color: white;
}

.main p {
    font-size: 20px;
    font-family: cursive;
    background-color: rgb (247, 247, 107);
    text-align: center;
    color: white;
}

footer {
    background-color: rgb (247, 247, 107);
    color: rgb(34, 25, 25);
    height: 150px;
    padding: 40px;
}
.contents-item blockquote {
    font-family: "Cursive";
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: teal;
    padding-top: 30px;
}
.contents-item span {
    font-style: normal;
}
.footer-logo {
    font-size: 25px;
    float: right;
    font-style: bold;
    rotate: -90deg;  
}
.footer-list {
    float: left;
    font-weight: bold;
    font-size: 15px;
}
.footer-list li {
    padding-bottom: 20px;
}
.footer-copyright {
    float: bottom;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(253, 253, 100);
}
